body{
    display: flex;
    justify-content: center;
    background-image: url(../common/7440.jpg);
    background-size: cover; 
}
#media{
    
    display: flex;
    justify-content: center;
}
#media a{
    display: flex;
    justify-content: center;

}
#media a img{
    width: 30%;
    
}
#footer{
    font-family: robotoLight;
    font-size: 1.5rem;
    position: absolute;
    bottom: -450;
}
#info{
    text-align: center;
    font-family: robotoLight;
    width: 50%;
}
#container{ 
    margin-top: 10%;
    padding-top: 10%;
    margin-right: 10%;
    margin-left: 10%;
    font-family: robotoLight;
    display: flex;
    align-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: white;
    flex-direction: column;
    margin-bottom: 150px;


}
#profilePic{
    position: absolute;
    width: 12%;
    border-radius: 100px;
    margin-top: 3%;
}
#container #name{
    font-size: 2.5rem;
}
.slideshow{
    width: 100%;
    margin-bottom: 10vw;
}
.carousel-caption{
    
}
.carousel-item{
    height: 35vw;
}
@font-face {
    font-family: robotoLight;
    src: url(../common/Roboto-Thin.ttf);
  }